* {
	box-sizing: border-box;
}
header {
    text-align: center;
    padding: 3.8em 0;}
body {
    background:url(../Imagen/Diapositiva1.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
	line-height: 1.5;
}
h1,h2,h3, {
    color: orange;
    font-size: 18px
}
p {
	font-size: 18px;
	margin-bottom: 1.9em;
	text-align: justify;}
}
div {width: 50%;
        height: 100px;
        background:rgba(199, 173, 147,.4);
        margin:0px 350px;
        padding:30px;
        border: :10px solid 0
    }

.form{
    margin: 2em;
    width: 80%;
    border: 1px solid #ccc;
    margin: 18px;
    padding: 15px;
}
input, textarea {
    margin-bottom:12px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;


}
.main-nav {
    float: right;
}
